Repository PLP-Consulting/dev-docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

remove design-tokens dependency
  package.json
  public/images/Adjust-icon.svg
  public/images/AppLovin.svg
  src/components/Badge.astro
  src/components/Callout.astro
  src/components/Icon.astro
  src/components/Layout/Footer/FooterLanguageSwitch.astro
  src/components/Layout/Header/MainHeader.astro
  src/components/Layout/Header/MobileHeader.astro
  src/components/Layout/LeftSidebar/NavigationItem.tsx
  src/components/Layout/LeftSidebar/SidebarHeader/SidebarHeader.astro
  src/components/MinorVersion.astro
  src/components/Tile.astro
  src/components/Tooltip.astro
  src/components/Version/VersionSwitch.tsx
  src/components/atlas/BuildAccordion.tsx
  src/components/atlas/BuildTable.tsx
  src/components/atlas/BuildTabs.tsx
  src/components/atlas/BuildTooltip.tsx
  src/components/pages/search/Pagination.tsx
  src/components/pages/search/PlatformTabs.tsx
  src/content/docs/en/api/01_getting-started/index.mdx
  src/content/docs/en/api/gdpr-api/index.mdx
  src/content/docs/en/api/index.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

a few tweaks
  astro.config.mjs
  src/components/Abbr.astro
  src/components/Callout.astro
  src/components/Glossary.astro
  src/components/UILabel.astro
  src/content/docs/en/api/01_getting-started/index.mdx
  src/pages/[lang]/index.astro
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

make abbreviations tidier and more automagic
  src/components/Abbr.astro
  src/content/docs/en/api/01_getting-started/index.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

make glossary references tidier and more automagic
  src/components/Glossary.astro
  src/content/docs/en/api/01_getting-started/index.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

finish getting started page
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/content/docs/en/api/01_getting-started/index.mdx
  src/content/docs/en/api/02_prelaunch-checklist/index.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

add prelaunch checklist page
  src/content/docs/en/api/02_prelaunch-checklist/index.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

fill in some MAX Dashboard content
  public/images/create-ad-unit-01.png
  public/images/create-ad-unit-02.svg
  public/images/create-ad-unit-03.png
  public/images/create-ad-unit-04.png
  public/images/create-ad-unit-05.png
  public/images/create-ad-unit-06.png
  src/components/Callout.astro.defang
  src/components/Glossary.astro
  src/content/docs/en/api/10_getting-started/index.mdx
  src/content/docs/en/api/10_getting-started/prelaunch-checklist.mdx
  src/content/docs/en/api/15_max-dashboard/10_ad-units/create-an-ad-unit.mdx
  src/content/docs/en/api/15_max-dashboard/10_ad-units/index.mdx
  src/content/docs/en/api/15_max-dashboard/20_networks/index.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/index.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/index.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/index.mdx
  src/content/docs/en/api/15_max-dashboard/best-practices.mdx
  src/content/docs/en/api/15_max-dashboard/index.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

enable networks and advanced setup pages
  public/images/enable-networks-01.png
  public/images/enable-networks-02.png
  public/images/enable-networks-03.png
  public/images/enable-networks-04.png
  src/components/Abbr.astro
  src/components/Callout.astro
  src/content/docs/en/api/15_max-dashboard/10_ad-units/30_advanced-setup.mdx
  src/content/docs/en/api/15_max-dashboard/10_ad-units/create-an-ad-unit.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

enable networks
  src/content/docs/en/api/15_max-dashboard/10_ad-units/20_enable-networks.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

customize footer, add another page
  src/components/Layout/Footer/ContactSupportBlock/ContactSupportButton/index.astro
  src/components/Layout/Footer/FooterContent.astro
  src/components/Layout/Footer/static.ts
  src/components/Layout/PageContent/article.css
  src/content/docs/en/api/15_max-dashboard/10_ad-units/40_waterfall-management-tools.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

moar pages
  public/images/auto-cpm-01.png
  public/images/auto-cpm-02.png
  public/images/connect-networks-01.png
  public/images/connect-networks-02.png
  public/images/connect-networks-03.png
  public/images/export.svg
  public/images/performance-reporting-01.png
  public/images/user-activity-reporting-01.png
  public/images/waterfall-management-tools-01.png
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/content/docs/en/api/15_max-dashboard/20_networks/10_connect-networks.mdx
  src/content/docs/en/api/15_max-dashboard/20_networks/20_auto-cpm.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/10_performance-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/20_user-activity-reporting.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

more pages, tweaks, images
  public/images/advanced-reporting-01.png
  public/images/alx-reporting-01.png
  public/images/app-ads-txt-01.png
  public/images/cohort-reporting-01.png
  public/images/cohort-reporting-02.png
  public/images/direct-sold-reporting-01.png
  public/images/network-comparison-reporting-01.png
  public/images/payments-01.png
  public/images/payments-02.png
  public/images/payments-03.png
  public/images/payments-04.png
  public/images/payments-05.png
  public/images/scheduled-reporting-01.png
  public/images/scheduled-reporting-02.png
  public/images/scheduled-reporting-03.png
  public/images/users-01.png
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/content/docs/en/api/15_max-dashboard/10_ad-units/10_create-an-ad-unit.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/20_user-activity-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/30_advanced-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/40_alx-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/50_scheduled-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/60_cohort-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/70_direct-sold-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/30_reports/80-network-comparison-reporting.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/10_account-info.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/20_iab-supply-chain-validation.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/30_users.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/40_payments.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

more pages, tweaks
  public/images/auction-dynamics-01.png
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/components/Layout/LeftSidebar/NavigationItem.tsx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/10_how-to-enable-verbose-logging-in-the-applovin-sdk.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/20_how-to-rename-apps-in-the-dashboard.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/30_how-to-set-defaults-for-ad-format-settings.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/40_how-to-hide-app-names-in-the-dashboard.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/50_how-to-find-your-applovin-sdk-version.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/60_when-is-it-best-to-display-interstitial-ads.mdx
  src/content/docs/en/api/15_max-dashboard/best-practices.mdx
  src/content/docs/en/api/20_demand-partners/50_auction-dynamics.mdx
  src/content/docs/en/api/20_demand-partners/60_campaign-management-api.mdx
  src/content/docs/en/api/20_demand-partners/index.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

AppLovin oRTB Specification
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/components/Layout/PageContent/article.css
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/10_applovin-ortb-specification.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/index.mdx
  src/content/docs/en/api/20_demand-partners/70_building-a-custom-adapter.mdx
  src/content/docs/en/api/20_demand-partners/80_applovin-exchange-and-google-dv360.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

add more pages, experiment with single-source partial content
  public/images/dsp-testing-01.png
  public/images/privacy-01.png
  public/images/privacy-02.png
  src/components/Abbr.astro
  src/components/Glossary.astro
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/20_dsp-reporting.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/30_dsp-testing.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/40_skadnetwork-skan.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/50_viewability.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/60_creative-format-specifications.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/70_gdpr-deleted-device-ids-api.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/10_integration.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/20_privacy.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/30_error-handling.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/index.mdx
  src/content/docs/en/api/25_adobe-air/50_preparing-mediated-networks.mdx
  src/content/docs/en/api/25_adobe-air/60_changelog.mdx
  src/content/docs/en/api/25_adobe-air/index.mdx
  src/content/docs/en/api/partials/_CMP.mdx
  src/content/docs/en/api/partials/_ErrorCodes1.mdx
  src/content/docs/en/api/partials/_ErrorCodes2.mdx
  src/content/docs/en/api/partials/_Privacy1.mdx
  src/content/docs/en/api/partials/_Privacy2.mdx
  src/content/docs/en/api/partials/_Privacy3.mdx
  src/content/docs/en/api/partials/_Privacy4.mdx
  src/content/docs/en/api/partials/_Privacy5.mdx
  src/content/docs/en/api/partials/_Solely.mdx
  src/content/docs/en/api/partials/_app-ids.mdx
  src/content/docs/en/api/partials/_ios15.mdx
  src/content/docs/en/api/partials/_sdk-key.mdx
Owners: @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3, @bzavhorodskyi

more pages, tweaks
  src/components/Glossary.astro
  src/content/docs/en/api/10_getting-started/prelaunch-checklist.mdx
  src/content/docs/en/api/15_max-dashboard/40_account/40_payments.mdx
  src/content/docs/en/api/15_max-dashboard/50_using-the-dashboard/50_how-to-find-your-applovin-sdk-version.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/10_applovin-ortb-specification.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/20_dsp-reporting.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/50_viewability.mdx
  src/content/docs/en/api/20_demand-partners/10_demand-side-platforms/60_creative-format-specifications.mdx
  src/content/docs/en/api/20_demand-partners/70_building-a-custom-adapter.mdx
  src/content/docs/en/api/20_demand-partners/80_applovin-exchange-and-google-dv360.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/10_integration.mdx
  src/content/docs/en/api/25_adobe-air/10_overview/50_advanced-settings.mdx
  src/content/docs/en/api/25_adobe-air/20_ad-formats/10_banner-and-mrec-ads.mdx
  src/content/docs/en/api/25_adobe-air/20_ad-formats/20_interstitial-ads.mdx
  src/content/docs/en/api/25_adobe-air/20_ad-formats/30_rewarded-ads.mdx
  src/content/docs/en/api/30_android/10_overview/10_integration/10_gradle-integration.mdx
  src/content/docs/en/api/30_android/10_overview/10_integration/20_manual-integration.mdx
  src/content/docs/en/api/30_android/10_overview/15_terms-and-privacy-policy-flow.mdx
  src/content/docs/en/api/30_android/10_overview/45_data-and-keyword-passing.mdx
  src/content/docs/en/api/30_android/10_overview/50_advanced-settings.mdx
  src/content/docs/en/api/30_android/20_ad-formats/05_app-open-ads.mdx
  src/content/docs/en/api/30_android/20_ad-formats/10_banner-and-mrec-ads.mdx
  src/content/docs/en/api/30_android/20_ad-formats/20_interstitial-ads.mdx
  src/content/docs/en/api/30_android/20_ad-formats/30_native-ads-templates.mdx
  src/content/docs/en/api/30_android/20_ad-formats/50_native-ads-ad-placer.mdx
  src/content/docs/en/api/30_android/20_ad-formats/60_rewarded-ads.mdx
  src/content/docs/en/api/30_android/30_testing-networks/10_max-demo-app.mdx
  src/content/docs/en/api/30_android/30_testing-networks/20_creative-debugger.mdx
  src/content/docs/en/api/30_android/30_testing-networks/30_mediation-debugger.mdx
  src/content/docs/en/api/30_android/30_testing-networks/40_max-test-mode.mdx
  src/content/docs/en/api/partials/_CMP.mdx
  src/content/docs/en/api/partials/_EnablingGoogleUMP.mdx
  src/content/docs/en/api/partials/_ErrorCodes2.mdx
  src/content/docs/en/api/partials/_Privacy3.mdx
  src/content/docs/en/api/partials/_Troubleshooting.mdx
Owners: @bzavhorodskyi, @Sporiff, @mcoombs, @KaihkashanAdjust, @ivosam3

.github/CODEOWNERS:

* @Sporiff @mcoombs @KaihkashanAdjust @ivosam3 @bzavhorodskyi
src/code-snippets @Sporiff @mcoombs @KaihkashanAdjust @ivosam3
src/components @bzavhorodskyi @Sporiff
src/content/docs/en @Sporiff @mcoombs @KaihkashanAdjust @ivosam3
